/* Universal Selector */
* {
    margin:0;
    padding:0;  
  }
  
  /* Element Selectors */
  body {
    position: relative;
    font-family: "Verdana", sans-serif;
    font-size: 20px;
    background-color: #ffffff;
    color: #483f3a;
  }
  
  h1,
  h2 {
    margin: 20px;
  }
  
  main {
    padding: 60px 0;
  }
  
  li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
  }
  
  a {
    text-decoration: none;
    color: #927272;
  }
  
  header,
  footer {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: #466f63;
  }
  
  header {
    position: fixed;
    border-bottom: 10px solid #ffffff;
  }
  
  footer {
    position: absolute;
    margin-top: 0;
    bottom: 0;
    border-bottom: 10px solid #4F4846;
    color: #FDF8F5;    
  }
  
  figure {
    margin-bottom: 40px;
  }
  
  img {
    display: block;
    margin: 20px auto;
  }
  
  section {
    margin-bottom: 0;
    padding: 20px 10px 40px 10px;
    border-top: 0px solid #DDAF94;
    background-color: solid #7aa679;
  }
  
  form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 500px;
    padding: 10px;
    border: 0px solid #7aa679;
    border-radius: 20px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
    
  input, 
  textarea {
    box-sizing: border-box;
    width: 300px;
    border: 1px solid #ffffff;
  }
  
  textarea {
    vertical-align: top;
    height: 60px;
  }
    
  button {
    height: 40px;
    width: 120px;
    background-color: #312d2d;
    color: #FDF8F5;
  }
   
  /* Class Selectors */
  .text-center {
    text-align: center; 

  }
  
  .text-right {
    text-align: right;

  }
  
  .text-center1 {
    text-align: center; 
    position: fixed;
  }

  .text-box {
    text-align: center;
    background-color: rgb(167, 167, 167);
    height: 25px;
  }

  .text-link {
    color: #ffffff; 
  }
  
